/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles for the body and container */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Styles for the header */
header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}

header h1 {
    margin: 0;
}

/* Styles for the links in the header */
header a {
    color: white; /* Set the link color to white */
    text-decoration: none;
    margin: 0 1rem; /* Add some spacing between the links */
}

header a:hover {
    color: #ddd; /* Change color when hovering */
}

header a:active {
    color: #bbb; /* Change color when the link is active (clicked) */
}

/* Styles for the main content */
/*main {
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}*/

/* Styles for the footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}





/****BESTELLUNG****/


.speisekarte-and-form{
    display: flex;
    
    flex-direction: row;
}

.speisekarte{
    display: grid;
      grid-template-columns: repeat(2, 1fr); /* 3 equal columns */
      grid-template-rows: repeat(2, 200px); /* 2 rows, each 200px high */
      gap: 20px; /* Gap between grid items */
      padding: 20px;
}

/* Styles for the pizza items */
.pizza-item {
    display: flex;

    min-width: 300px;
    min-height: 100px;
    max-width: 400px;
    max-height: 200px;

    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    background: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pizza-item img {
    min-width: 90px;
    min-height: 100px;

    cursor: pointer;
    border-radius: 5px;
    margin: start;
}

.pizza-item div {
    margin-top: 0.5rem;
}

#warenkorb-fieldset {
    min-width: 300px;
    min-height: 100px;
}

.bestellung-buttons{
    background-color: red; /* Grüne Hintergrundfarbe */
    border: none; /* Kein Rahmen */
    color: white; /* Weißer Text */
    padding: 15px 32px; /* Innenabstand */
    text-align: center; /* Text zentrieren */
    text-decoration: none; /* Keine Unterstreichung */
    display: inline-block; /* Inline-Block-Darstellung */
    font-size: 16px; /* Schriftgröße */
    margin: 10px 0; /* Außenabstand */
    cursor: pointer; /* Zeiger-Cursor */
    border-radius: 5px; /* Abgerundete Ecken */
    transition: background-color 0.3s; /* Übergangseffekt */
}

.bestellung-buttons:hover {
    background-color: #5c0000; /* Dunkleres Grün bei Hover */
}

#bestellung-button-submit {
    background-color: #4CAF50; /* Grüne Hintergrundfarbe */
    border: none; /* Kein Rahmen */
    color: white; /* Weißer Text */
    padding: 15px 32px; /* Innenabstand */
    text-align: center; /* Text zentrieren */
    text-decoration: none; /* Keine Unterstreichung */
    display: inline-block; /* Inline-Block-Darstellung */
    font-size: 16px; /* Schriftgröße */
    margin: 10px 0; /* Außenabstand */
    cursor: pointer; /* Zeiger-Cursor */
    border-radius: 5px; /* Abgerundete Ecken */
    transition: background-color 0.3s; /* Übergangseffekt */
}

#bestellung-button-submit:hover {
    background-color: #28542a; /* Dunkleres Grün bei Hover */
}

/****KUNDE****/

#order-status{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;

    border: 1px solid #ddd;
    border-radius: 5px;

    margin-bottom: 10px;
}

.kunde-pizza-item{
    border: 1px solid #dddddd87;
    border-radius: 5px;
    border-color: #22465e;

    padding-right: 5px;

    margin-bottom: 5px;
}

.neue-bestellung {
    background-color: #4CAF50; /* Grüne Hintergrundfarbe */
    border: none; /* Kein Rahmen */
    color: white; /* Weißer Text */
    padding: 15px 32px; /* Innenabstand */
    text-align: center; /* Text zentrieren */
    text-decoration: none; /* Keine Unterstreichung */
    display: inline-block; /* Inline-Block-Darstellung */
    font-size: 16px; /* Schriftgröße */
    margin: 10px 0; /* Außenabstand */
    cursor: pointer; /* Zeiger-Cursor */
    border-radius: 5px; /* Abgerundete Ecken */
    transition: background-color 0.3s; /* Übergangseffekt */
}

.neue-bestellung:hover {
    background-color: #28542a; /* Dunkleres Grün bei Hover */
}


/****BAECKER****/

/*
#baecker-container {
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#baecker-form {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#baecker-label {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: #f1f3f5;
    transition: background-color 0.3s;
}

#baecker-label:hover {
    background-color: #e9ecef;
}

input[type="radio"] {
    margin-right: 10px;
}

*/

#baecker-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.no-pizzas {
    text-align: center;
    color: #6c757d;
}





@media (max-width: 900px) {
    /*.container {
        max-width: 46.875rem;
    }*/

    .speisekarte-and-form{
        display: flex;
        flex-direction: column;
    }

    .pizza-item {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .pizza-item div {
        margin-top: 0;
        margin-left: 1rem;
    }

    /*form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }*/

    /*form input, form select {
        width: 48%;
    }*/
}

/*@media (min-width: 64rem) {
    .container {
        max-width: 60rem;
    }
}
*/